.footer-top {
  background-color: #000000;
}

.footer-main {
  background-color: #191919;
}

.footer a:hover {
  text-decoration: underline;
}

.img-fluid {
    height: 175px;
    width: 170px;
}

.img-fluids {
    width: 200px;
    border-radius: 20px;
}

.list-unstyled li:hover{
    text-decoration: underline;
}